<script lang="ts">
  export let content: string;
  export let onClick: (event: MouseEvent) => void;
</script>
<button class="p-1 px-2 bg-blue-500 text-white border border-blue-400 active:drop-shadow-none rounded-sm text-s filter drop-shadow-lg" on:click={onClick}>
  {content}
</button>