<script lang="ts">
  import FileInput from '@svelte/FileInput.svelte';

  export let processFile:(file: File) => void;
  const defaultBorderColor = 'border-gray-500';
  const validBorderColor = 'border-blue-500';
  let borderColor = defaultBorderColor;

  const getFileFromDropEvent:
  (e: DragEvent) => File = (e) => e.dataTransfer?.files?.length && e.dataTransfer?.files[0];

  const dragenter:(event: DragEvent) => void = (event) => {
    event.stopPropagation();
    event.preventDefault();
    borderColor = validBorderColor;
  };

  const dragover:(event: DragEvent) => void = (event) => {
    event.stopPropagation();
    event.preventDefault();
  };

  const drop: (event: DragEvent) => void = (event) => {
    event.stopPropagation();
    event.preventDefault();
    borderColor = defaultBorderColor;
    processFile(getFileFromDropEvent(event));
  };
</script>
<section class={`flex flex-col items-center justify-center h-full w-full border-2 ${borderColor} rounded-sm border-solid`} on:dragenter={dragenter} on:dragover={dragover} on:drop={drop}>
  <p class="text-black mb-2 text">Drag and drop or upload filename.fydb file here</p>
  <FileInput changeCallback={processFile}/>
</section>