<script lang='ts'>
  import Button from '@svelte/Button.svelte';

  export let changeCallback: (file: File) => void;

  const onFileInputPseudoClick: () => void = () => {
    const fileElem = document.getElementById('fileInput');
    if (fileElem) {
      fileElem.click();
    }
  };

  const onFileInputChange: (
    event: InputEvent & { currentTarget: EventTarget & HTMLInputElement; }) => void = (event) => {
      const fileList = (event.target as HTMLInputElement).files;
      if (fileList && fileList.length) {
        changeCallback(fileList.item(0));
      }
    };
</script>

<input type="file" id="fileInput" accept=".fydb" style="display:none" on:change={onFileInputChange}>
<Button content={'Upload File'} onClick={onFileInputPseudoClick} />