<script lang='ts'>
  import TransactionRow from '@svelte/TransactionRow.svelte';
  import type { Transaction } from '@ts/database';

  export let transactions: Transaction[] = [];
</script>

<ul class='max-w-xl w-full'>
  {#each transactions as transaction}
    <li>
      <TransactionRow transaction={transaction}></TransactionRow>
    </li>
  {/each}
</ul>