<script lang='ts'>
  import Label from '@svelte/Label.svelte';
  import type { Transaction } from '@ts/database';
  import { TransactionType } from '@ts/database';
  import { formatCurrency } from '@ts/i18n';

  export let transaction: Transaction;

  const isExpense: (amount: number) => boolean = (amount) => amount < 0;
  const isIncome: (amount: number) => boolean = (amount) => amount > 0;

  const getTransactionType: (trans: Transaction) => TransactionType = (trans) => {
    const { amount } = trans;
    if (trans.transactionTypeName === 'Transfer') {
      return TransactionType.TRANSFER;
    }
    if (trans.transactionTypeName === 'New Account') {
      return TransactionType.NEW_ACCOUNT;
    }
    if (isExpense(amount)) {
      return TransactionType.EXPENSE;
    }
    if (isIncome(amount)) {
      return TransactionType.INCOME;
    }

    return null;
  };

  const iconBackgroundColor: (trans: Transaction) => string = (trans) => {
    const transactionType: TransactionType = getTransactionType(trans);
    const expenseBgColor = 'bg-red-500';
    const incomeBgColor = 'bg-green-500';
    const transferBgColor = 'bg-blue-500';
    const defaultBgColor = 'bg-gray-500';

    switch (transactionType) {
      case TransactionType.EXPENSE:
        return expenseBgColor;
      case TransactionType.INCOME:
        return incomeBgColor;
      case TransactionType.TRANSFER:
        return transferBgColor;
      default:
        return defaultBgColor;
    }
  };

  const amountTextColor: (trans: Transaction) => string = (trans) => {
    const { amount } = trans;
    const amountDecreaseTextColor = 'text-red-500';
    const amountIncreaseTextColor = 'text-green-500';
    const amountDefaultTextColor = 'text-gray-500';

    if (isExpense(amount)) {
      return amountDecreaseTextColor;
    }
    if (isIncome(amount)) {
      return amountIncreaseTextColor;
    }

    return amountDefaultTextColor;
  };

  const formattedAmount:
  (trans: Transaction) => string = (trans) => formatCurrency(trans.transactionCurrency, trans.amount);
  const formattedAccountBalance:
  (trans: Transaction) => string = (trans) => formatCurrency(
    trans.transactionCurrency,
    trans.accountBalance,
  );
</script>

<div class='flex justify-start border-2 rounded-sm border-gray-300 shadow-md p-2 mb-1'>
  <i class={`flex-none self-center rounded-full h-14 w-14 mr-2 ${iconBackgroundColor(transaction)}`}></i>
  <ul class='flex-1'>
    <li class='font-bold text-base'>{transaction.itemName}</li>
    <li class='text-xs'>{transaction.childCategoryName}</li>
    <li class='italic text-xs truncate'>{transaction.notes}</li>
    <li><Label content={transaction.labelName}></Label></li>
  </ul>
  <ul>
    <li class={`text-sm text-right ${amountTextColor(transaction)}`}>{formattedAmount(transaction)}</li>
    <li class='text-xs text-right'>{`${transaction.accountName} | ${formattedAccountBalance(transaction)}`}</li>
  </ul>
</div>