<script lang='ts'>
  import type { Transaction } from '@ts/database';
  import { createDatabaseFromFileReader, getTransactions, validateDatabaseFile } from '@ts/database';
  import TransactionList from '@svelte/TransactionList.svelte';
  import DragAndDrop from '@svelte/DragAndDrop.svelte';

  let transactions: Transaction[] = [];

  const processUploadedFile: (file: File) => void = (file) => {
    if (validateDatabaseFile(file)) {
      const fileReader = new FileReader();
      fileReader.onload = async () => {
        transactions = await createDatabaseFromFileReader(fileReader)
          .then((db) => getTransactions(db))
          .catch(() => []);
      };

      fileReader.readAsArrayBuffer(file);
    }
  };
</script>

<main class="h-screen w-screen p-2">
  {#if transactions?.length}
    <div class='flex justify-center'>
      <TransactionList transactions={transactions} />
    </div>
  {:else}
    <DragAndDrop processFile={processUploadedFile} />
  {/if}
</main>